.header, .container {
    line-height: 78px;
}
.header {
    border-bottom: 1px solid #f5f5f6;
    font-size: 12px;
    font-weight: 600;
}
h4{
    padding-left: 110px;
}
.name{
    padding-left: 110px;
}
.formp-group{
	width: 15%;
}
	.glyphicon {
		color: #95d7fc;
	}
.image{
    display: block;
    margin-left: 100px;
    height: 300px;
    width: 300px;
}
.column2{
    margin-right: 100px;
}
.site-nav-container {
    background-color: #fff;
    width: 100%;
    min-height: 78px;
    max-width: 92%;
    margin: auto;
}
.header, .checkout-steps {
    margin: 0 0 0 34%;
    width: 40%;
    color: #696b79;
    padding:0px;
    display: inline-block;
    line-height: 20px;
}
.header, .checkout-steps .active {
    color: #20bd99;
    border-bottom: 2px solid #20bd99;
}
.header, .checkout-steps .step1 {
    margin: 0 5px 0 0;
}
.header, .checkout-steps .step {
    display: inline-block;
    letter-spacing: 3px;
}
.header, .divider {
    display: inline-block;
    border-top: 1px dashed #696b79;
    height: 4px;
    width: 20%;
    padding-top: 0%
}
.header, .checkout-steps, .step2 {
    margin: 0 5px 0 6px;
}
.header, .checkout-steps, .step {
    display: inline-block;
    letter-spacing: 3px;
}
.header, .checkout-steps, .step3 {
    margin: 0 0 0 7px;
}
.header, .checkout-steps, .step {
    display: inline-block;
    letter-spacing: 3px;
}
.header, .secureContainer, .secure {
    float: right;
    letter-spacing: 3px;
    color: #535766;
    margin: 0 20px 0 0;
}

.head{
    padding-left: 220px;
}
.cont{
    padding-bottom: 8%;
}
.footer-bank-ssl {
    background-position: -382px -4px;
    width: 70px;
    height: 37px;
}
.checkout-footer {
    border-top: 1px solid #f5f5f6;
    margin: 0 0 10px 0;
}
.payment-card{
    padding-left: 20%;
}
.checkout-footer, .content, .contact-us span {
    font-size: 14px;
    padding: 10px 0;
    color: black;
    font-weight: 600;
    cursor: pointer;
}
.payment-icon{
    padding-right: 40px;
}
.help{
   padding-left: 22%;
}